policy_module(fren, 1.100.1)

########################################
#
# Declarations
#

type fren_t;
type fren_exec_t;
init_daemon_domain(fren_t, fren_exec_t)

permissive fren_t;

type fren_initrc_exec_t;
init_script_file(fren_initrc_exec_t)

type fren_conf_t;
files_type(fren_conf_t)

type fren_var_lib_t;
files_type(fren_var_lib_t)

type fren_var_run_t;
files_type(fren_var_run_t)

type fren_port_t;
corenet_port(fren_port_t)

########################################
#
# fren local policy
#
allow fren_t self:process { fork };

allow fren_t self:fifo_file rw_fifo_file_perms;
allow fren_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(fren_t, fren_conf_t, fren_conf_t)
manage_files_pattern(fren_t, fren_conf_t, fren_conf_t)

manage_dirs_pattern(fren_t, fren_var_lib_t, fren_var_lib_t)
manage_files_pattern(fren_t, fren_var_lib_t, fren_var_lib_t)
files_var_lib_filetrans(fren_t, fren_var_lib_t, { dir file })

manage_dirs_pattern(fren_t, fren_var_run_t, fren_var_run_t)
manage_files_pattern(fren_t, fren_var_run_t, fren_var_run_t)

sysnet_dns_name_resolve(fren_t)
corenet_all_recvfrom_unlabeled(fren_t)

allow fren_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(fren_t)
corenet_tcp_sendrecv_generic_node(fren_t)
corenet_tcp_sendrecv_all_ports(fren_t)
corenet_tcp_bind_generic_node(fren_t)

gen_require(`
    type fren_port_t;
')
allow fren_t fren_port_t:tcp_socket name_bind;

gen_require(`
    type fren_port_t;
')
allow fren_t fren_port_t:tcp_socket name_connect;

domain_use_interactive_fds(fren_t)

files_read_etc_files(fren_t)

miscfiles_read_localization(fren_t)

sysnet_dns_name_resolve(fren_t)

allow fren_t fren_exec_t:file execute_no_trans;
allow fren_t self:process setsched;
corecmd_exec_ls(fren_t)
corenet_tcp_connect_http_port(fren_t)
dev_read_urand(fren_t)
fs_getattr_xattr_fs(fren_t)
kernel_read_system_state(fren_t)
