[Unit]
Description=Fren's distributed currency daemon
After=network.target

[Service]
User=fren
Group=fren

Type=forking
PIDFile=/var/lib/frend/frend.pid
ExecStart=/usr/bin/frend -daemon -pid=/var/lib/frend/frend.pid \
-conf=/etc/fren/fren.conf -datadir=/var/lib/frend -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
